<a href="https://colab.research.google.com/github/Tushar-rancy/Asignmet_1_answersheet_31_10_2024/blob/main/Assignment_1_Answersheet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 Q1. Explain the key features of Python that make it a popular choice for programming.

Answer :
  1. Python is easy to read language, syntax of python is simpler as compare to JAVA and C++.
  2. Python is dynamic language, it dynamically run the program on basis of requirement.
  3. Python has large community of developers.
  4. Python has large set of useful libraries and active domains.
  5. Python is compatible is object oriented programing and functional programing.

Q2. Describe the role of predefined keywords in Python and provide examples of how they are used in a
   program.

  Answer : Predefined keyword are keywords which has specific predefined task or use case and it can't be overridden and this predefined keyword can't be use as 	 variables.

   Examples :
   
    Print is predefined key word which is use to print output on screen.
		    
        def is key word which is use to define function.
		    Other example of keywords are if, else, class, while, return, input, int ect.

Q3. Compare and contrast mutable and immutable objects in Python with examples.

  Answer : mutable objects are objected which can be modify after it creation.
	 Example : List is mutable object (please refer below code for List mutability).

In [4]:
cars_list = ['BMW', 'Audi', 'Hyundai', 'Toyota', 'Ferrari', 'ford']
cars_list[2] = 'Porsche'

print(cars_list)

# output : ['BMW', 'Audi', 'Porsche', 'Toyota', 'Ferrari', 'ford']

#Here, we can see we are able to modify or change value in cars list, it shows mutability of list.
#Other example of mutable objects are sets and dictionaries.

['BMW', 'Audi', 'Porsche', 'Toyota', 'Ferrari', 'ford']

Q4.Discuss the different types of operators in Python and provide examples of how they are used ?

Answer : Types of operators follows as

	 1. Arithmetic operators : +,-,*,/,//,**, %
	 e.g. 2+3 = 5, 8-3 = 5, 5*1 = 5, 25/5 = 5, 26//5 = 5, 5**2 = 25, 25 % 5 = 0

	 2. Logical operators : and, or, not
         e.g. True and true = true
	      false or true = true
              not (false) = true

         3. Comparison operator : <,>,==,<=,>=,!=
	 e.g. 2<3 = true,   5>11 = false
	      10<= 10 = true    10 != 10 = false
              "Hi" == "Hello" = false

	 4. assignment operators: =, +=, -=, *=, /=
	 e.g. number = 1
              number += 2   i.e. number = 3
              number -= 1   i.e. number = 2
	      number *= 5   i.e. number = 10
 	      number /= 2   i.e. number = 5

In [15]:
print(2+3)
print(8-3)
print(5*1)
print(25/5)
print(26//5)
print(5**2)
print(25 % 5)

5
5
5
5.0
5
25
0

In [16]:
print(True and True)
print(False or True)
print(not (False))

True
True
True

In [17]:
print(2<3)
print(5>11)
print(10<= 10)
print(10 != 10)
print("Hi" == "Hello")

True
False
True
False
False

In [18]:
number = 1
number += 2
print(number)
number -= 1
print(number)
number *= 5
print(number)
number /= 2
print(number)

3
2
10
5.0

Q5.Explain the concept of type casting in Python with examples.

Answer:

Type casting is defined as changing one datatype to another.
There are 2 types of type casting.

1. implisite type casting
2. Explisite type casting

In [20]:
#Example :
# 1. Implisite tyoe casting

num1 = 10
num2 = 16.26
total = num1 + num2
print(total)

# 2. Explisite type casting

total = num1 + int(num2)
print(total)

# in explisite type casting there is loss of data

26.26
26

Q6.  How do conditional statements work in Python? Illustrate with examples.

Answer :

Conditional statements are use to take decsion from various given situations.
Please below examples for working of conditional statement.

In [33]:
type_of_ticket = input("Please select ticket type from below\n 'VIP'\n 'REGULAR'\n 'LIMITED'\n")

if(type_of_ticket == 'VIP' or type_of_ticket == 'REGULAR' or type_of_ticket == 'LIMITED'):
   if(type_of_ticket == 'VIP'):
      print("You have selected VIP ticket")
      print("You are eligible for all rides of Amusment Park")
   elif(type_of_ticket == 'REGULAR'):
      print("You have selected REGULAR ticket")
      print("You are eligible for all rides of Amusment Park except VIP rides")
   else:
      print("You have selected LIMITED ticket")
      print("You are eligible for all rides of Amusment Park except VIP and Regular rides")

else:
   print("Please select correct ticket type")

Please select ticket type from below
 'VIP'
 'REGULAR'
 'LIMITED'
NA
Please select correct ticket type

Q7. Describe the different types of loops in Python and their use cases with examples.

Answer:

There are two primary type of loops in python follow as

1. For loop : it is use to iterate over sequence of elements.
2. while loop : it is use to iterate until specific condition become false.

In [39]:
# for loop :

for i in range(1,11):
   print(i)

str1 = "Hi I am Tushar Gatkal"
for i in str1:
   print(i)

list_1 = ['BMW', 'Audi', 'Porsche', 'Toyota', 'Ferrari', 'ford']
for i in list_1:
   print(i)

# While loop :

i = 1
while(i<=10):
   print(i)
   i+=1

str2 = "Hi I am Tushar Gatkal"
i = 0
while(i<len(str2)):
   print(str2[i])
   i+=1

list_2 = ['BMW', 'Audi', 'Porsche', 'Toyota', 'Ferrari', 'ford']
i = 0
while(i<len(list_2)):
   print(list_2[i])
   i+=1

1
2
3
4
5
6
7
8
9
10
H
i

I

a
m

T
u
s
h
a
r

G
a
t
k
a
l
BMW
Audi
Porsche
Toyota
Ferrari
ford
1
2
3
4
5
6
7
8
9
10
H
i

I

a
m

T
u
s
h
a
r

G
a
t
k
a
l
BMW
Audi
Porsche
Toyota
Ferrari
ford